* {
	box-sizing: border-box;
	margin: 0;
	padding: 3px;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.4;
}

.hidden {
	display: none;
}

.form {
	flex: 1;
	display: inline-block;
}

.container {
	text-align: center;
}

.search {
	width: 400px;
	height: 35px;
	outline: 0;
	border: 0;
	border-bottom: 1px solid black;
	font-size: 15px;
}

.search:focus {
	width: 400px;
	height: 35px;
	outline: 0;
	border: 0;
	border-bottom: 1.5px solid #ceb888;
	font-size: 15px;
}
